---
// Button.astro
export interface Props {
  label: string;
}

const { label } = Astro.props;
---

<!-- <button type={type} class={className} onClick={onClick}>
  {label}
</button> -->
    
    <a href="mailto:info@healingedgehc.com" class="btn">{label}</a>
